{
  "Entries": [
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 13 Feb 2023 09:54:44 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "adventureworks"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-13T09%3A54%3A44.7627271Z\u0027\u0022",
        "Location": "https://zedy-table.table.cosmos.azure.com/Tables(\u0027adventureworks\u0027)"
      },
      "ResponseBody": {
        "TableName": "adventureworks",
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/adventureworks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 13 Feb 2023 09:54:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Name": "Ocean Surfboard1",
        "Quantity": 8,
        "Sale": true
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "W/\u0022datetime\u00272023-02-13T09%3A54%3A45.3168135Z\u0027\u0022",
        "Location": "https://zedy-table.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)",
        "Preference-Applied": "return-no-content"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/adventureworks(PartitionKey=\u0027gear-surf-surfboards\u0027,RowKey=\u002768719518388\u0027)",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 13 Feb 2023 09:54:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-02-13T09%3A54%3A45.3168135Z\u0027\u0022"
      },
      "ResponseBody": {
        "odata.metadata": "https://zedy-table.table.cosmos.azure.com/adventureworks/$metadata#adventureworks/@Element",
        "odata.etag": "W/\u0022datetime\u00272023-02-13T09%3A54%3A45.3168135Z\u0027\u0022",
        "RowKey": "68719518388",
        "PartitionKey": "gear-surf-surfboards",
        "Name": "Ocean Surfboard1",
        "Quantity": 8,
        "Sale": true,
        "Timestamp": "2023-02-13T09:54:45.3168135Z"
      }
    },
    {
      "RequestUri": "https://zedy-table.table.cosmos.azure.com/adventureworks",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json;charset=utf-8",
        "DataServiceVersion": "3.0",
        "Prefer": "return-no-content",
        "x-ms-date": "Mon, 13 Feb 2023 09:54:45 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
[...]
